/*! MOMENTANEAL STYLES */





/** GENERIC STYLE INFORMATIONS */

/*todo Universal Selector */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



/*todo HTML Tags */
a{
    text-decoration: none;
}

ul{
    list-style: none;
}



/*todo Classes */
.container{
    padding: 0 12rem;
}

.flex{
    display: flex;
}

.flex-centered{
    align-items: center;
    justify-content: center;
}

.color_white{
    color: white;
}

.bg-color_white{
    background-color: white;
}

.bg-color_orange{
    background-color: #ff6900;
}

.bg-color_black{
    background-color: #1a1a1a;
}

.bg-color_red{
    background-color: #ff0000;
}

.bg-color_green{
    background-color: #008000;
}



/*todo Combinations */
.img-container img{
    width: 100%;
}





/** SPECIFIC STYLE INFORMATIONS */

/*todo Header Section */
#main-header{
    height: 5rem;
}

#main-header.flex{
    justify-content: space-between;
}

#main-header.color_white a{
    color: white;
}


/* Header age-section */
#main-header .age-section{
    width: 12rem;
}

/* Header logo-container */
#main-header .logo-container{
    width: 10rem;
}

/* Header icons-container */
#main-header .icons-container{
    width: 5rem;
}




/*todo Main Section */
main{
    height: 105rem;
    flex-wrap: wrap;
}

main .product{
    display: inline-block;
    margin: 5rem 1rem 0 0;
    width: calc((100%/3) - 2rem);
}

main .product .product-img{
    height: 35rem;
    background-image: url('../img/1.webp');
    background-size: cover;
    background-repeat: no-repeat;
}




/*todo Footer Section */
footer{
    height: 7rem;
}

footer.flex{
    justify-content: space-between;
}


/* Generic-info */
#generic-info{
    width: 25rem;
}


/* Contact-info */
#contact-info{
    width: 12rem;
}