/*! MOMENTANEAL STYLES */
header section,
header div,
footer section,
footer div{
    width: 5rem;
    height: 5rem;
    background-color: blueviolet;
    border: 1px solid black;
}

.product{
    background-color: aquamarine;
    border: 1px solid black;
}




/** GENERIC STYLE INFORMATIONS */

/*todo Universal Selector */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



/*todo HTML Tags */
a{
    text-decoration: none;
}



/*todo Classes */
.container{
    padding: 0 12rem;
}

.flex{
    display: flex;
}

.color_white{
    color: white;
}

.bg-color_white{
    background-color: white;
}

.bg-color_orange{
    background-color: #ff6900;
}

.bg-color_black{
    background-color: #1a1a1a;
}





/** SPECIFIC STYLE INFORMATIONS */

/*todo Header Section */
#main-header{
    height: 5rem;
}

#main-header.flex{
    justify-content: space-between;
}

#main-header .age-section{
    width: 12rem;
}

#main-header .logo-container{
    width: 10rem;
}

#main-header .icons-container{
    width: 5rem;
}




/*todo Main Section */
main{
    height: 105rem;
    flex-wrap: wrap;
}

main article.product{
    height: 45rem;
    margin: 5rem 1rem 0 0;
    width: calc((100%/3) - 1rem);
}





/*todo Footer Section */
footer{
    height: 7rem;
}

footer.flex{
    justify-content: space-between;
}