/** GENERIC STYLE INFORMATIONS */

/*todo Universal Selector */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



/*todo HTML Tags */
body{
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}



/*todo Classes */
.container{
    padding: 0 12rem;
}

.flex{
    display: flex;
}

.flex-centered{
    align-items: center;
    justify-content: center;
}

.p_fixed{
   position: fixed;
}

.p_relative{
    position: relative;
}

.p_absolute{
    position: absolute;
}

.color_white{
    color: white;
}

.color_red{
    color: red;
}

.color_light-black{
    color: #434343;
}

.bg-color_white{
    background-color: white;
}

.bg-color_orange{
    background-color: #ff6900;
}

.bg-color_black{
    background-color: #1a1a1a;
}

.bg-color_red{
    background-color: #ff0000;
}

.bg-color_green{
    background-color: #008000;
}



/*todo Combinations */
.img-container img{
    width: 100%;
}





/** SPECIFIC STYLE INFORMATIONS */

/*todo Header Section */
#main-header{
    height: 5rem;
}

#main-header.flex{
    justify-content: space-between;
}

#main-header.p_fixed{
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.9;
    z-index: 2;
}

#main-header.color_white a{
    color: white;
}


/* Header age-section */
#main-header .age-section{
    width: 12rem;
}

/* Header logo-container */
#main-header .logo-container{
    width: 10rem;
}

/* Header icons-container */
#main-header .icons-container{
    width: 5rem;
}




/*todo Main Section */
main{
    height: 105rem;
}

main.p_relative{
    z-index: 1;
}

#main-header.p_fixed + main{
    margin-top: 5rem;
}

main .product{
    display: inline-block;
    margin: 5rem 2rem 0 0;
    width: calc((100%/3) - 2.3rem);
}


/* Main .product-img */
main .product-img{
    height: 35rem;
    background-image: url('../img/1.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main .heart-icon-container{
    font-size: 2rem;
    padding: 0.5rem 1rem;
}

main .heart-icon-container.p_absolute{
    top: 1rem;
    right: 0;
}

main .special-offers.p_absolute{
    bottom: 3rem;
    left: 0;
}

main .special-offers .special-offer{
    padding: 0.3rem 0.5rem;
}


/* Main .product-info */
main .product-info{
    height: 5rem;
}

main .product-description{
    text-transform: uppercase;
}

main .price .full-price{
    text-decoration: line-through;
}




/*todo Footer Section */
footer{
    height: 7rem;
}

footer.flex{
    justify-content: space-between;
}

footer.p_relative{
    z-index: 1;
}


/* Generic-info */
#generic-info{
    width: 25rem;
}


/* Contact-info */
#contact-info{
    width: 12rem;
}